# Kaggle API Credentials
# Get these from https://www.kaggle.com/settings/account
# Download your kaggle.json file and use the username and key from there

KAGGLE_USERNAME=ernatividad
KAGGLE_KEY=KGAT_ed5bff89bdb73acaadf49b1a2036ebfe

# Flask Config
FLASK_ENV=development
FLASK_DEBUG=True
PORT=5000

# Dataset IDs (from Kaggle)
DATASET_1=c/competitions/asap-aes/data
DATASET_2=c/competitions/learning-agency-lab-automated-essay-scoring-2/data

# OCR SPACE API KEY
OCR_SPACE_API_KEY=K84089275488957

# Supabase Configuration
SUPABASE_URL=https://rmrwtoqkdbognndkkejg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtcnd0b3FrZGJvZ25uZGtrZWpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MTgyMDIsImV4cCI6MjA5MjQ5NDIwMn0.WzKy_PA_LrIRDidwcRHjFGF3f-pUeGv1rPzbqpUcSvk
# Kaggle API Credentials
# Get these from https://www.kaggle.com/settings/account
# Download your kaggle.json file and use the username and key from there

KAGGLE_USERNAME=ernatividad
KAGGLE_KEY=KGAT_ed5bff89bdb73acaadf49b1a2036ebfe

# Flask Config
FLASK_ENV=development
FLASK_DEBUG=True
PORT=5000

# Dataset IDs (from Kaggle)
DATASET_1=c/competitions/asap-aes/data
DATASET_2=c/competitions/learning-agency-lab-automated-essay-scoring-2/data

# OCR SPACE API KEY
OCR_SPACE_API_KEY=K84089275488957

# Supabase Configuration
SUPABASE_URL=https://rmrwtoqkdbognndkkejg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtcnd0b3FrZGJvZ25uZGtrZWpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MTgyMDIsImV4cCI6MjA5MjQ5NDIwMn0.WzKy_PA_LrIRDidwcRHjFGF3f-pUeGv1rPzbqpUcSvk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtcnd0b3FrZGJvZ25uZGtrZWpnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjkxODIwMiwiZXhwIjoyMDkyNDk0MjAyfQ.FcHNciIP0ez6Z5IHX6l_rLbmmuiUjJhSBLqBWi1QfDo

REACT_APP_SUPABASE_URL=https://rmrwtoqkdbognndkkejg.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtcnd0b3FrZGJvZ25uZGtrZWpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MTgyMDIsImV4cCI6MjA5MjQ5NDIwMn0.WzKy_PA_LrIRDidwcRHjFGF3f-pUeGv1rPzbqpUcSvk